//bgc
$primary-color: #27264e;
$secondary-color: #35356b;
// $third-color: #6856E1;
// $third-color: #4737C6;
$third-color: #4535ba;


//font
$primary-font-color:white;
$secondary-font-color: #fff44f;
$third-font-color: #b5bdc1;