@mixin item {
	border-radius: 20px;
	color: $primary-font-color;
	transition: all 0.6s;
	cursor: pointer;

	&:hover {
		// background-color: $primary-color;
		background-color: $third-color;
		color: $secondary-font-color;
		box-shadow: 2px 2px 15px black;
	}
}
