@import './../../assets/colors.module';

.card {
	&__box {
		border-radius: 20px;
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1em;
		background-color: $secondary-color;
		cursor: pointer;
		color: white;
		width: 25%;
		padding: 1em;
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 200px;
			border-radius: 20px;
		}
	}
	&__link {
		text-decoration: none;
		color: $primary-font-color;
	}
}
