@import './../../styles/colors.module';

.card {
	&__box {
		justify-content: space-between;
		align-items: center;
		margin: 1em 0;
		padding: 1em;
		width: 100%;
		transition: background-color 0.6s;
		cursor: pointer;

		@media (min-width: 768px) {
			width: 45%;
		}
		@media (min-width: 1200px) {
			width: 30%;
		}

		&:hover .card__text-title {
			color: $secondary-font-color;
		}
		&:hover {
			background-color: $third-color;
		}
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		width: 100%;
		height: 270px;
		background-position: center;
		background-size: cover;
		border-radius: 20px;

		@media (min-width: 768px) {
			min-height: 180px;
			max-height: 180px;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 1em;

		&-title {
			text-align: center;
			margin-bottom: 0.5em;
			transition: color 0.6s;
		}
		hr {
			border-color: $secondary-font-color;
			margin-bottom: 1em;
		}
		&-content {
			color: $third-font-color;
			transition: color 0.6s;
		}
		&-bottom {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 1em;
			color: $third-font-color;

			&-category {
				padding: 0.5em 4em;
				font-size:.8rem;
				font-weight: bold;
				text-transform: uppercase;
				color: $primary-color;
				background-color: $secondary-font-color;
				border-radius: 20px;
				box-shadow: 2px 2px 15px black;
				@media (min-width: 768px) {
					padding: 0.5em 3em;
				}
				@media (min-width: 992px) {
					padding: 0.5em 2em;
				}
				@media (min-width: 1200px) {
					padding: 0.5em 1em;
				}
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $primary-font-color;
	}
}

.list {
	width: 90%;
	height: 370px;
	margin: 1em auto;
}
