@import './../../../../assets/colors.module';

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	border-radius: 20px;
	background-color: $secondary-color;
	color: $primary-font-color;
}
