@import './../../styles/mixin.module';
@import './../../styles/colors.module';

.list {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 3em auto 0 auto;
		width: 95%;

		@media (min-width: 500px) and (max-width: 768px) {
			width: 80%;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (min-width: 768px) {
		}
		&-post {
			display: flex;
			justify-content: center;
			align-items: center;
			h3 {
				margin-right: 0.5em;
				font-size: 1.6rem;
			}
			p {
				color: $third-font-color;
				font-size: 1.3rem;
			}
		}
	}
	&__btn {
		margin-left: 1em;
		padding: 1em;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 20px;
		box-shadow: none;
		&-icon {
			color: $primary-font-color;
			text-align: center;
			font-size: 1.4rem;
		}
		&:hover {
			background-color: $third-color;
			color: $secondary-font-color;
			box-shadow: 2px 2px 15px black;
		}
		&:hover .list__btn-icon {
			color: $secondary-font-color;
		}
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		@media (min-width: 768px) {
			justify-content: space-around;
		}
	}
}
