.list {
	&__box {
		display: flex;
        flex-direction: column;
	}
	&__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;

		}

	
    &__items{
        display: flex;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;

    }
}
