.heroImg {
    position: relative;
    width: 95%;
    height: 300px;
	background-image: url('./../../../assets/hero-large.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    &__background{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5);
    
        h2{
            margin-top: 1em;
        }
    }
    
}

