.heroImg {
	background-image: url(https://assets.xboxservices.com/assets/1d/5b/1d5bc84f-2135-4e2f-8ca6-bb000d97db7f.jpg?n=Elden-Ring_GLP-Poster-Image-1084_1920x1080.jpg);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 300px;
    margin: 0 auto;
    // margin-top: 1em;
    // border: 1px solid blue;
    
}
