@import './../../../../assets/colors.module';
@import './../../../../assets/mixin.module';

.items {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 1em 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	@media (min-width: 768px) {
		margin: 0;
	}

	&__list {
		list-style: none;
		width: 100%;
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
		}
		hr {
			margin: 1em;
			border-color: $secondary-font-color;
		}
	}
	&__item {
		@include item;
		margin: 1em 0;
		padding: 1em;
		@media (min-width: 768px) {
			padding: 0.5em 1em;
			margin: 0 1em;
		}
		&-icon {
			margin-right: 0.4em;
		}
	}
	&__link {
		text-decoration: none;
	}
}
