.home{
    &__container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 5em auto 0 auto;
       
    }
    &__filters{
        margin-top: 1em;
        // border: 1px solid red;
        
    }
    &__main{
        margin-top: 1em;
        // border: 1px solid red;
        padding: 1em;
    }
}
