@import './../../assets/colors.module';

.social {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__img {
		font-size: 2rem;
		padding: 0.3em;
        margin: .3em .1em;
		color: $primary-font-color;
		cursor: pointer;
		background-color: $secondary-color;
		border-radius: 20px;
        transition: all .5s;
		&:hover {
			color: $secondary-font-color;
            background-color: $primary-color;
            scale: (1.1);
		}
	}
}
